swagger: '2.0'
info:
  version: 1.0.0
  title: RBKmoney Platform Analytics API
  description: >
    ## Описание

    RBKmoney Analytics API является точкой взаимодействия с
    аналитической и поисковой частью платформы. Все аналитическоие запросы осуществляются с
    помощью вызовов соответствующих методов API. Любые сторонние приложения,
    включая наши веб-сайты, личные кабинеты и другие UI-интерфейсы являются внешними
    приложениями-клиентами.

    RBKmoney Analytics API работает поверх HTTP-протокола. Мы используем REST архитектуру,
    схема описывается в соответствии со [Swagger](http://swagger.io/). Коды
    возврата описываются соответствующими HTTP-статусами. Платформа принимает и
    возвращает JSON-структуры в HTTP body.

    ## Запросы

    Любой вызов методов API обязан предваряться предоставлением уникального для
    участника в пределах платформы ID запроса. Данный ID передается в
    соответствующем заголовке HTTP-запроса:

    ```
     X-Request-ID: oX5MWM2AQy
    ```

    Платформа гарантирует идемпотентность запросов, отправленных с одинаковым
    ID.

    ## Тип содержимого и кодировка

    Любой запрос к API должен выполняться в кодировке UTF-8 и с указанием
    содержимого в формате JSON

    ```
      Content-Type: application/json; charset=utf-8
    ```

    ## Формат дат

    Платформа принимает значения date-time в стандарте ISO 8601 с обязательным
    указанием UTC-оффсета, например:

    ```
      2017-01-01T00:00:00Z
      2017-01-01T00:00:01+00:00
    ```

    ## Максимальное время обработки запроса

    К любому вызову методов API можно добавить параметр отсечки по времени,
    определяющий максимальное время ожидания завершения операции по запросу.
    Данная отсечка передается в соответствующем заголовке HTTP-запроса:

    ```
     X-Request-Deadline: 10s
    ```

    Значение отсечки может быть задано в формате ISO 8601 (см. [Формат
    дат](#section/Format-dat)), либо в относительных величинах, например:

    `150000ms`, `540s`, `3.5m` При этом возможные единицы измерения `ms`, `s`,
    `m`. В обоих случаях  не рекомендуется, чтобы задаваемое значение было
    меньше **3 секунд** и превышало **1 минуту**.
  termsOfService: 'https://rbk.money/'
  contact:
    name: RBKmoney support team
    email: support@rbk.money
    url: 'https://api.rbk.money'
host: api.rbk.money
basePath: /analytics/v1
schemes:
  - https
consumes:
  - application/json; charset=utf-8
produces:
  - application/json; charset=utf-8
securityDefinitions:
  bearer:
    type: apiKey
    name: Authorization
    in: header
    description: >
      Для аутентификации вызовов мы используем [JWT](https://jwt.io).
      Cоответствующий ключ передается в заголовке.

      ```shell
       Authorization: Bearer {JWT}
      ```

      Посмотреть ваш API-ключ вы можете в [личном
      кабинете](https://dashboard.rbk.money/).


      Помните, что вы никому не должны передавать ваш API ключ!
security:
  - bearer: []
responses:
  NotFound:
    description: Заданный ресурс не найден
    schema:
      $ref: '#/definitions/GeneralError'
  Unauthorized:
    description: Ошибка авторизации
  DefaultLogicError:
    description: Неверные данные
    schema:
      $ref: '#/definitions/DefaultLogicError'
parameters:
  accountID:
    name: accountID
    in: path
    description: Account ID
    required: true
    type: integer
    format: int64
  requestID:
    name: X-Request-ID
    in: header
    description: Уникальный идентификатор запроса к системе
    required: true
    type: string
    maxLength: 32
    minLength: 1
  shopIDQuery:
    name: shopID
    in: query
    description: Идентификатор магазина
    required: false
    type: string
    maxLength: 40
    minLength: 1
  shopIDPath:
    name: shopID
    in: path
    description: Идентификатор магазина
    required: true
    type: string
    maxLength: 40
    minLength: 1
  paymentID:
    name: paymentID
    in: path
    description: Идентификатор платежа в рамках инвойса
    required: true
    type: string
    maxLength: 40
    minLength: 1
  refundID:
    name: refundID
    in: path
    description: Идентификатор возврата в рамках платежа
    required: true
    type: string
    maxLength: 40
    minLength: 1
  contractID:
    name: contractID
    in: path
    description: Идентификатор договора
    required: true
    type: string
    maxLength: 40
    minLength: 1
  residence:
    name: residence
    in: query
    description: >-
      Резиденция, alpha-3 код по стандарту [ISO
      3166-1](https://en.wikipedia.org/wiki/ISO_3166-1)
    required: false
    type: string
    pattern: '^[A-Z]{3}$'
  customerID:
    name: customerID
    in: path
    description: Идентификатор кастомера
    required: true
    type: string
    maxLength: 40
    minLength: 1
  payoutID:
    name: payoutID
    in: path
    description: Идентификатор вывода
    required: true
    type: string
    maxLength: 40
    minLength: 1
  invoiceID:
    name: invoiceID
    in: path
    description: Идентификатор инвойса
    required: true
    type: string
    maxLength: 40
    minLength: 1
  fromTime:
    name: fromTime
    in: query
    description: Начало временного отрезка
    required: true
    type: string
    format: date-time
  toTime:
    name: toTime
    in: query
    description: Конец временного отрезка
    required: true
    type: string
    format: date-time
  splitUnit:
    name: splitUnit
    in: query
    description: Единица времени сегмента разбиения
    required: true
    type: string
    enum:
      - minute
      - hour
      - day
      - week
      - month
      - year
  splitSize:
    name: splitSize
    in: query
    description: Размер сегмента разбиения
    required: true
    type: integer
    format: int32
    minimum: 1
  limit:
    name: limit
    in: query
    description: Лимит выборки
    required: true
    type: integer
    format: int32
    minimum: 1
    maximum: 1000
  offset:
    name: offset
    in: query
    description: Смещение выборки
    required: false
    type: integer
    minimum: 0
  deadline:
    name: X-Request-Deadline
    in: header
    description: Максимальное время обработки запроса
    required: false
    type: string
    maxLength: 40
    minLength: 1
  partyID:
    name: partyID
    in: query
    description: Идентификатор участника
    required: true
    type: string
    maxLength: 40
    minLength: 1
  shopID:
    name: shopID
    in: query
    description: Идентификатор магазина
    required: false
    type: string
    maxLength: 40
    minLength: 1
  reportType:
    name: reportType
    in: query
    description: Тип отчета
    required: true
    type: string
    enum:
      - provisionOfService
      - paymentRegistry
  reportID:
    name: reportID
    in: path
    description: Идентификатор отчета
    required: true
    type: integer
    format: int64
  fileID:
    name: fileID
    in: path
    description: Идентификатор файла
    required: true
    type: string
    maxLength: 40
    minLength: 1
tags:
  - name: Search
    x-displayName: Поиск
    description: >
      Для получения списка всех инвойсов/платежей указанного магазина необходимо
      вызвать соответствующий метод платформы. Имеется возможность отфильтровать
      выборку по определенным статусам.
  - name: Error Codes
    x-displayName: Коды ошибок
    description: >

      ## Ошибки бизнес-логики

      Все ошибки бизнес-логики имеют следуюший вид:

        ```json
        {
          "code": "string",
          "message": "string"
        }
        ```

      В поле `code` содержится тип ошибки, а в `message` - дополнительная
      информация по произошедшей ошибке.

      На данный момент существуют следующие коды ошибок:

        | Код                              | Описание                                                                                                                              |
        | ---                              | --------                                                                                                                              |
        | **invalidDeadline**              | Неверный формат времени.                                                                                                       |
        | **invalidRequest**               | Прочие неверные данные запроса.                                                                                                       |

      ## Общие ошибки

      Ошибки возникающие при попытках совершения операций с
      незарегистрированными в системе объектами. Имеют вид

        ```json
        {
            "message": "string"
        }
        ```

      В поле `message` содержится информация по произошедшей ошибке. Например:

        ```json
        {
            "message": "Invalid token"
        }
        ```

      ## Ошибки обработки запросов

      В процессе обработки запросов силами нашей платформы могут происходить
      различные непредвиденные ситуации. Об их появлении платформа сигнализирует
      по протоколу HTTP соответствующими [статусами][5xx], обозначающими ошибки
      сервера.

        |  Код    |  Описание  |
        | ------- | ---------- |
        | **500** | В процессе обработки платформой запроса возникла непредвиденная ситуация. При получении подобного кода ответа мы рекомендуем обратиться в техническую поддержку. |
        | **503** | Платформа временно недоступна и не готова обслуживать данный запрос. Запрос гарантированно не выполнен, при получении подобного кода ответа попробуйте выполнить его позднее, когда доступность платформы будет восстановлена. |
        | **504** | Платформа превысила допустимое время обработки запроса, результат запроса не определён. Попробуйте отправить запрос повторно или выяснить результат выполнения исходного запроса, если повторное исполнение запроса нежелательно. |

      [5xx]: https://tools.ietf.org/html/rfc7231#section-6.6


      Если вы получили ошибку, которой нет в данном описании, обратитесь в
      техническую поддержку.
  - name: Reports
    x-displayName: Отчеты
    description: >
      Один раз в отчетный период платформа автоматически подготавливает и
      размещает документы в формате XLSX с разбиением по магазину активной
      категории. Также, каждый документ будет подписан [квалифицированной
      ЭЦП](http://minsvyaz.ru/ru/appeals/faq/31/). Данная подпись является
      юридически значимой и позволяет полностью отказаться от бумажного
      документооборота.
